<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/layout/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#"></h:outputText>
            <f:event type="preRenderView" listener="#{bibliotecarioController.loadNew}" />
        </ui:define>

        <ui:define name="body">
            <p:tabView id="tabs">
                <p:tab title="Reservaciones de usuarios">
                    <h:form id="ReservacionListForm">
                        <p:panel header="#{bundle.ListReservacionTitle}">

                            <h:panelGrid columns="2" style="width: 100%;">
                                <p:selectOneRadio id="buscarPor" value="#{bibliotecarioController.buscarPor}" required="true" style="margin-left: 60%">
                                    <f:selectItem itemLabel="todas las reservaciones" itemValue="cualquier fecha"/>
                                    <f:selectItem itemLabel="reservaciones para hoy" itemValue="hoy"/>
                                </p:selectOneRadio>
                                <h:panelGroup>
                                    <p:inputText id="buscar" value="#{bibliotecarioController.userName}"/>
                                    <p:watermark value="buscar" for="buscar"/>
                                    <p:commandButton icon="ui-icon-search" actionListener="#{bibliotecarioController.buscarReservaciones}"
                                                     update="buscarPor,datalistRes"
                                                     style="height: 23px; width: 50px; margin-top: 0px"/>
                                </h:panelGroup>
                            </h:panelGrid>

                            <p:dataTable id="datalistRes" value="#{bibliotecarioController.reservaciones}" var="i"
                                         selectionMode="single"
                                         selection="#{bibliotecarioController.reservacionSeleccionada}"
                                         rowKey="#{i.idReservacion}"
                                         rows="10"
                                         >

                                <p:ajax event="rowSelect"   update="prestarEjemplar"/>
                                <p:ajax event="rowUnselect" update="prestarEjemplar"/>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fecha reservación"/>
                                    </f:facet>
                                    <h:outputText value="#{i.fechaReservacion}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fecha recoger Libro"/>
                                    </f:facet>
                                    <h:outputText value="#{i.fechaRecogerLibros}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre Libro"/>
                                    </f:facet>
                                    <h:outputText value="#{i.idLibro == null ? 'Fecha atrasada' : i.idLibro.titulo}"/>
                                </p:column>

                                <f:facet name="footer">
                                    <p:growl id="growl" showDetail="true" sticky="true" />
                                    <p:commandButton id="prestarEjemplar"
                                                     value="Prestar Ejemplar"
                                                     icon="ui-icon-circle-check"
                                                     update="datalistRes, :UsuarioForm"
                                                     oncomplete="PF('UsuarioDialog').show()"
                                                     disabled="#{empty bibliotecarioController.reservacionSeleccionada}"/>
                                </f:facet>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:tab>
                <p:tab title="Prestamos">

                    <h:form id="PrestamoListForm">
                        <p:panel header="#{bundle.ListPrestamoTitle}">
                            <p:dataTable id="datalist" value="#{prestamoController.items}" var="item"
                                         selectionMode="single" selection="#{prestamoController.selected}"
                                         rowKey="#{item.idPrestamo}"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         >

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_fechaPrestamo}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fechaPrestamo}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_fechaDevolucion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fechaDevolucion}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_descDevolucion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.descDevolucion}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>

                </p:tab>
            </p:tabView>
            <ui:include src="usuario.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
