<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuarioDlg" widgetVar="UsuarioDialog" modal="true" resizable="false" appendTo="@(body)" header="Datos del usuario">
            <h:form id="UsuarioForm" class="regis-container">
                <p:panelGrid columns="2" >    

                    <p:panelGrid columns="2" rendered="#{bibliotecarioController.reservacionSeleccionada != null}">
                        <p:outputLabel value="Usuaio" for="usuario" />
                        <p:inputText id="usuario" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.usuario}" title="#{bundle.CreateUsuarioTitle_usuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_usuario}"/>
                        <p:outputLabel value="Nombre" for="nombre" />
                        <p:inputText id="nombre" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombre}"/>
                        <p:outputLabel value="Apellido paterno" for="apepat" />
                        <p:inputText id="apepat" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.apepat}" title="#{bundle.CreateUsuarioTitle_apepat}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_apepat}"/>
                        <p:outputLabel value="Apellido Materno" for="apemat" />
                        <p:inputText id="apemat" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.apemat}" title="#{bundle.CreateUsuarioTitle_apemat}" />
                        <p:outputLabel value="Telefono" for="telefono" />
                        <p:inputText id="telefono" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.telefono}" title="#{bundle.CreateUsuarioTitle_telefono}" />
                        <p:outputLabel value="Calle" for="calle" />
                        <p:inputText id="calle" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.calle}" title="#{bundle.CreateUsuarioTitle_calle}" />
                        <p:outputLabel value="Numero exterior" for="numeroExterior" />
                        <p:inputText id="numeroExterior" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.numeroExterior}" title="#{bundle.CreateUsuarioTitle_numeroExterior}" />
                        <p:outputLabel value="Numero Inferior" for="numeroInterior" />
                        <p:inputText id="numeroInterior" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.numeroInterior}" title="#{bundle.CreateUsuarioTitle_numeroInterior}" />
                        <p:outputLabel value="Colonia" for="colonia" />
                        <p:inputText id="colonia" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.colonia}" title="#{bundle.CreateUsuarioTitle_colonia}" />
                        <p:outputLabel value="Código postal" for="codigoPostal" />
                        <p:inputText id="codigoPostal" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.codigoPostal}" title="#{bundle.CreateUsuarioTitle_codigoPostal}" />
                        <p:outputLabel value="Tipo de comprobante" for="tipoComprobante" />
                        <p:inputText id="tipoComprobante" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.tipoComprobante}" title="#{bundle.CreateUsuarioTitle_tipoComprobante}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_tipoComprobante}"/>
                        <p:outputLabel value="Correo" for="correo" />
                        <p:inputText id="correo" value="#{bibliotecarioController.reservacionSeleccionada.idUsuario.correo}" title="#{bundle.CreateUsuarioTitle_correo}" />
                    </p:panelGrid>
                </p:panelGrid>
                <h:panelGrid columns="1">
                    <p:outputLabel value="Si estas de acuerdo con los datos entonses, 'OK', para prestar libro"/>
                    <p:commandButton actionListener="#{bibliotecarioController.actualizaPresta}"
                                     value="OK"
                                     update=":tabs:ReservacionListForm:datalistRes"
                                     oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                    <p:outputLabel value="*Tendrás 5 días para devolver el libro"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>

