.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
.footer{
	background:gainsboro;
	padding:1px;
	
}


.login {
  width: 330px;
  margin:    5px ;
  font-size: 14px;
 float: right;
}
        
/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-header {
  background: #28d;
  padding: 5px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 8px;
}




.regis {
  width: 350px;
  margin: 10px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.regis-header,
.regis p {
  margin-top: 0;
  margin-bottom: 0;
}

.regis-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.regis-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.regis p {
  padding: 12px;
}
