<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EjemplarCreateDlg" widgetVar="EjemplarCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEjemplarTitle}">
            <h:form id="EjemplarCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ejemplarController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_idEjemplar}" for="idEjemplar" />
                        <p:inputText id="idEjemplar" value="#{ejemplarController.selected.idEjemplar}" title="#{bundle.CreateEjemplarTitle_idEjemplar}" required="true" requiredMessage="#{bundle.CreateEjemplarRequiredMessage_idEjemplar}"/>
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_tipoAdquisicion}" for="tipoAdquisicion" />
                        <p:inputText id="tipoAdquisicion" value="#{ejemplarController.selected.tipoAdquisicion}" title="#{bundle.CreateEjemplarTitle_tipoAdquisicion}" required="true" requiredMessage="#{bundle.CreateEjemplarRequiredMessage_tipoAdquisicion}"/>
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_baja}" for="baja" />
                        <p:inputText id="baja" value="#{ejemplarController.selected.baja}" title="#{bundle.CreateEjemplarTitle_baja}" required="true" requiredMessage="#{bundle.CreateEjemplarRequiredMessage_baja}"/>
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_idReservacion}" for="idReservacion" />
                        <p:selectOneMenu id="idReservacion" value="#{ejemplarController.selected.idReservacion}" >
                            <f:selectItems value="#{reservacionController.itemsAvailableSelectOne}"
                                           var="idReservacionItem"
                                           itemValue="#{idReservacionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_idPrestamo}" for="idPrestamo" />
                        <p:selectOneMenu id="idPrestamo" value="#{ejemplarController.selected.idPrestamo}" >
                            <f:selectItems value="#{prestamoController.itemsAvailableSelectOne}"
                                           var="idPrestamoItem"
                                           itemValue="#{idPrestamoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEjemplarLabel_idLibro}" for="idLibro" />
                        <p:selectOneMenu id="idLibro" value="#{ejemplarController.selected.idLibro}" required="true" requiredMessage="#{bundle.EditEjemplarRequiredMessage_idLibro}">
                            <f:selectItems value="#{libroController.itemsAvailableSelectOne}"
                                           var="idLibroItem"
                                           itemValue="#{idLibroItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ejemplarController.create}" value="#{bundle.Save}" update="display,:EjemplarListForm:datalist,:growl" oncomplete="handleSubmit(args,'EjemplarCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EjemplarCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
