<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEjemplarTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EjemplarListForm">
                <p:panel header="#{bundle.ListEjemplarTitle}">
                    <p:dataTable id="datalist" value="#{ejemplarController.items}" var="item"
                                 selectionMode="single" selection="#{ejemplarController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idEjemplar}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_idEjemplar}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEjemplar}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_tipoAdquisicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoAdquisicion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_baja}"/>
                            </f:facet>
                            <h:outputText value="#{item.baja}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_idReservacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idReservacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_idPrestamo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPrestamo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEjemplarTitle_idLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLibro}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{ejemplarController.prepareCreate}" update=":EjemplarCreateForm" oncomplete="PF('EjemplarCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EjemplarViewForm" oncomplete="PF('EjemplarViewDialog').show()" disabled="#{empty ejemplarController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EjemplarEditForm" oncomplete="PF('EjemplarEditDialog').show()" disabled="#{empty ejemplarController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{ejemplarController.destroy}" update=":growl,datalist" disabled="#{empty ejemplarController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
