<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EjemplarViewDlg" widgetVar="EjemplarViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEjemplarTitle}">
            <h:form id="EjemplarViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ejemplarController.selected != null}">
                        <h:outputText value="#{bundle.ViewEjemplarLabel_idEjemplar}"/>
                        <h:outputText value="#{ejemplarController.selected.idEjemplar}" title="#{bundle.ViewEjemplarTitle_idEjemplar}"/>
                        <h:outputText value="#{bundle.ViewEjemplarLabel_tipoAdquisicion}"/>
                        <h:outputText value="#{ejemplarController.selected.tipoAdquisicion}" title="#{bundle.ViewEjemplarTitle_tipoAdquisicion}"/>
                        <h:outputText value="#{bundle.ViewEjemplarLabel_baja}"/>
                        <h:outputText value="#{ejemplarController.selected.baja}" title="#{bundle.ViewEjemplarTitle_baja}"/>
                        <h:outputText value="#{bundle.ViewEjemplarLabel_idReservacion}"/>
                        <h:outputText value="#{ejemplarController.selected.idReservacion}" title="#{bundle.ViewEjemplarTitle_idReservacion}"/>
                        <h:outputText value="#{bundle.ViewEjemplarLabel_idPrestamo}"/>
                        <h:outputText value="#{ejemplarController.selected.idPrestamo}" title="#{bundle.ViewEjemplarTitle_idPrestamo}"/>
                        <h:outputText value="#{bundle.ViewEjemplarLabel_idLibro}"/>
                        <h:outputText value="#{ejemplarController.selected.idLibro}" title="#{bundle.ViewEjemplarTitle_idLibro}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EjemplarViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
