<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorLibroEditDlg" widgetVar="AutorLibroEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAutorLibroTitle}">
            <h:form id="AutorLibroEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorLibroController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAutorLibroLabel_idAutorLibro}" for="idAutorLibro" />
                        <p:inputText id="idAutorLibro" value="#{autorLibroController.selected.idAutorLibro}" title="#{bundle.EditAutorLibroTitle_idAutorLibro}" required="true" requiredMessage="#{bundle.EditAutorLibroRequiredMessage_idAutorLibro}"/>
                        <p:outputLabel value="#{bundle.EditAutorLibroLabel_idLibro}" for="idLibro" />
                        <p:selectOneMenu id="idLibro" value="#{autorLibroController.selected.idLibro}" required="true" requiredMessage="#{bundle.EditAutorLibroRequiredMessage_idLibro}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{libroController.itemsAvailableSelectOne}"
                                           var="idLibroItem"
                                           itemValue="#{idLibroItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAutorLibroLabel_idAutor}" for="idAutor" />
                        <p:selectOneMenu id="idAutor" value="#{autorLibroController.selected.idAutor}" required="true" requiredMessage="#{bundle.EditAutorLibroRequiredMessage_idAutor}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{autorController.itemsAvailableSelectOne}"
                                           var="idAutorItem"
                                           itemValue="#{idAutorItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autorLibroController.update}" value="#{bundle.Save}" update="display,:AutorLibroListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AutorLibroEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AutorLibroEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
