<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorLibroViewDlg" widgetVar="AutorLibroViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAutorLibroTitle}">
            <h:form id="AutorLibroViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorLibroController.selected != null}">
                        <h:outputText value="#{bundle.ViewAutorLibroLabel_idAutorLibro}"/>
                        <h:outputText value="#{autorLibroController.selected.idAutorLibro}" title="#{bundle.ViewAutorLibroTitle_idAutorLibro}"/>
                        <h:outputText value="#{bundle.ViewAutorLibroLabel_idLibro}"/>
                        <h:outputText value="#{autorLibroController.selected.idLibro}" title="#{bundle.ViewAutorLibroTitle_idLibro}"/>
                        <h:outputText value="#{bundle.ViewAutorLibroLabel_idAutor}"/>
                        <h:outputText value="#{autorLibroController.selected.idAutor}" title="#{bundle.ViewAutorLibroTitle_idAutor}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AutorLibroViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
