<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ExistenciasTemporalEditDlg" widgetVar="ExistenciasTemporalEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditExistenciasTemporalTitle}">
            <h:form id="ExistenciasTemporalEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{existenciasTemporalController.selected != null}">
                        <p:outputLabel value="#{bundle.EditExistenciasTemporalLabel_idExistencias}" for="idExistencias" />
                        <p:inputText id="idExistencias" value="#{existenciasTemporalController.selected.idExistencias}" title="#{bundle.EditExistenciasTemporalTitle_idExistencias}" required="true" requiredMessage="#{bundle.EditExistenciasTemporalRequiredMessage_idExistencias}"/>
                        <p:outputLabel value="#{bundle.EditExistenciasTemporalLabel_cantidadEjemplares}" for="cantidadEjemplares" />
                        <p:inputText id="cantidadEjemplares" value="#{existenciasTemporalController.selected.cantidadEjemplares}" title="#{bundle.EditExistenciasTemporalTitle_cantidadEjemplares}" required="true" requiredMessage="#{bundle.EditExistenciasTemporalRequiredMessage_cantidadEjemplares}"/>
                        <p:outputLabel value="#{bundle.EditExistenciasTemporalLabel_idLibro}" for="idLibro" />
                        <p:selectOneMenu id="idLibro" value="#{existenciasTemporalController.selected.idLibro}" required="true" requiredMessage="#{bundle.EditExistenciasTemporalRequiredMessage_idLibro}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{libroController.itemsAvailableSelectOne}"
                                           var="idLibroItem"
                                           itemValue="#{idLibroItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{existenciasTemporalController.update}" value="#{bundle.Save}" update="display,:ExistenciasTemporalListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ExistenciasTemporalEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ExistenciasTemporalEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
