<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ExistenciasTemporalViewDlg" widgetVar="ExistenciasTemporalViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewExistenciasTemporalTitle}">
            <h:form id="ExistenciasTemporalViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{existenciasTemporalController.selected != null}">
                        <h:outputText value="#{bundle.ViewExistenciasTemporalLabel_idExistencias}"/>
                        <h:outputText value="#{existenciasTemporalController.selected.idExistencias}" title="#{bundle.ViewExistenciasTemporalTitle_idExistencias}"/>
                        <h:outputText value="#{bundle.ViewExistenciasTemporalLabel_cantidadEjemplares}"/>
                        <h:outputText value="#{existenciasTemporalController.selected.cantidadEjemplares}" title="#{bundle.ViewExistenciasTemporalTitle_cantidadEjemplares}"/>
                        <h:outputText value="#{bundle.ViewExistenciasTemporalLabel_idLibro}"/>
                        <h:outputText value="#{existenciasTemporalController.selected.idLibro}" title="#{bundle.ViewExistenciasTemporalTitle_idLibro}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ExistenciasTemporalViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
