<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" style="font-size: 20px" size="85" header="Biblioteca Chois">
                <h:form >
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                       
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <div class="footer">
                    
                     <h:form>
                         <h:panelGrid columns="3" style="width: 100%">
                        <h:panelGrid columns="1" cellpadding="5">
                            Teamchois<br/>
                            Biblioteca
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5 " style="margin-left: 50%">
                            Ingenieria en Sistemas Computacionales<br/>
                            Seguridad en Web
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5" style="margin-left: 70%">
                           Copyright (c) 2016 <br/>
                            Version 1.0
                        </h:panelGrid>
                        
                    </h:panelGrid>
                </h:form>
                </div>    
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
