<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>


        <p:dialog id="AgregadosDlg" width="600" widgetVar="AgregadosDialog" modal="true" resizable="false" appendTo="@(body)">
            <h:form id="AgregadosForm">
                <p:panel header="Libros Agregados">
                    <p:dataTable id="datalist" value="#{prestamoLibroController.agregados}" var="item"
                                 selectionMode="single" selection="#{prestamoLibroController.libroSeleccionado}"
                                 rowKey="#{item.idLibro}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect" update="botonEliminar"/>
                        <p:ajax event="rowUnselect" update="botonEliminar"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="titulo Libro"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Categoría"/>
                            </f:facet>
                            <h:outputText value="#{item.categoria}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Idioma"/>
                            </f:facet>
                            <h:outputText value="#{item.idioma}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Edicion"/>
                            </f:facet>
                            <h:outputText value="#{item.edicion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Editorial"/>
                            </f:facet>
                            <h:outputText value="#{item.idEditorial.nombre}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="cancel" onclick="AgregadosDialog.hide()"/>
                        </f:facet>
                        <f:facet name="header">
                            <p:commandButton id="botonEliminar" 
                                             actionListener="#{prestamoLibroController.eliminarAgregado}"
                                            icon="ui-icon-circle-minus"
                                            value="eliminar"
                                            update="datalist"
                                            disabled="#{empty prestamoLibroController.libroSeleccionado}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>
        
        </p:dialog>
    </ui:composition>
</html>
