<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/layout/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#"></h:outputText>
            <f:event type="preRenderView" listener="#{prestamoLibroController.loadNew}" />
        </ui:define>

        <ui:define name="body">
            <p:tabView id="tabs">
                <p:tab title="Realizar Reservación">
                    <h:form id="AutorLibroListForm">
                        <p:panel header="Libros">

                            <h:panelGrid columns="2" style="width: 100%">
                                <h:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel for="buscarPor" value="Buscar por:" />
                                    <p:selectOneRadio id="buscarPor" value="#{prestamoLibroController.buscarPor}" layout="grid" columns="3">
                                        <f:selectItem itemLabel="ISBN" itemValue="isbn"/>
                                        <f:selectItem itemLabel="Cotegoría" itemValue="categoria"/>
                                        <f:selectItem itemLabel="Autor" itemValue="autor"/>
                                        <f:selectItem itemLabel="Subcategoría" itemValue="subcategoria"/>
                                        <f:selectItem itemLabel="Tema/Titulo" itemValue="titulo"/>
                                    </p:selectOneRadio>
                                </h:panelGrid>
                                <h:panelGrid columns="3">
                                    <p:inputText id="buscar" value="#{prestamoLibroController.indicio}"/>
                                    <p:watermark value="buscar" for="buscar"/>
                                    <p:commandButton icon="ui-icon-search" actionListener="#{prestamoLibroController.buscar}"
                                                     update="buscar,datalist"
                                                     style="height: 23px; width: 50px; margin-top: 0px"/>
                                </h:panelGrid>
                            </h:panelGrid>

                            <p:dataTable id="datalist" value="#{prestamoLibroController.items}" var="item"
                                         selectionMode="single" selection="#{prestamoLibroController.selected}"
                                         rowKey="#{item.idAutorLibro}"
                                         rows="10"
                                         >

                                <p:ajax event="rowSelect"   update="botonAgrega"/>
                                <p:ajax event="rowUnselect" update="botonAgrega"/>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Título Libro"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.titulo}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre Autor"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idAutor.nombre.concat(' ').concat(item.idAutor.apepat)}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="isbn"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.isbn}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListLibroTitle_categoria}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.categoria}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="subcategoría"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.subcategoria}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="resenia"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.resenia}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Edicion"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.edicion}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Editorial"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.idEditorial.nombre}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="idioma"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.idioma}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="cantidad ejemplares disponibles"/>
                                    </f:facet>
                                    <h:outputText value="#{item.idLibro.cantidadEjemplares}"/>
                                </p:column>

                                <f:facet name="header">
                                    <p:growl id="growl" showDetail="true" sticky="true" />
                                    <p:outputLabel value="Añadir libros" />
                                    <p:commandButton 
                                        id="botonAgrega" icon="ui-icon-plus" 
                                        actionListener="#{prestamoLibroController.agregar}" 
                                        disabled="#{empty prestamoLibroController.selected}"
                                        update="growl, datalist"/>
                                    <p:commandButton id="viewAniadidos"
                                                     icon="ui-icon-newwin"
                                                     value="ver añadidos"
                                                     update=":AgregadosForm"
                                                     oncomplete="PF('AgregadosDialog').show()"/>
                                </f:facet>

                                <f:facet name="footer">
                                    <p:growl id="validateFecha" showDetail="true" sticky="true" />
                                    <p:outputLabel value="Fecha para recoger los libros" />
                                    <p:calendar value="#{prestamoLibroController.fechaRecogerLibros}"
                                                mindate="#{prestamoLibroController.minDate}"
                                                maxdate="#{prestamoLibroController.maxDate}"/>
                                    <p:commandButton id="guardarAniadidos"
                                                     update="validateFecha, datalist, :tabs:ReservacionListForm:datalistRes"
                                                     actionListener="#{prestamoLibroController.guardarReservacion}"
                                                     icon="ui-icon-disk"
                                                     value="Guardar Reservación"/>
                                </f:facet>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:tab>
                <p:tab title="Mis reservaciones">
                    <h:form id="ReservacionListForm">
                        <p:panel header="#{bundle.ListReservacionTitle}">

                            <h:panelGrid columns="3" cellpadding="5" style="margin-left: 50%">
                                <p:outputLabel value="Buscar por:" />
                                <p:selectOneRadio id="psp" value="#{prestamoLibroController.buscarPor}" layout="grid" columns="4">
                                    <f:selectItem itemLabel="Atrasados" itemValue="atrasados"/>
                                    <f:selectItem itemLabel="En esperade recoger" itemValue="en espera"/>
                                    <f:selectItem itemLabel="Cualquier Fecha" itemValue="cualquier fecha"/>
                                </p:selectOneRadio>
                                <p:commandButton icon="ui-icon-search" actionListener="#{prestamoLibroController.buscarReservaciones}"
                                                 update="datalistRes"
                                                 style="height: 23px; width: 50px; margin-top: 0px"/>
                            </h:panelGrid>

                            <p:dataTable id="datalistRes" value="#{prestamoLibroController.reservaciones}" var="i"
                                         selectionMode="single"
                                         selection="#{prestamoLibroController.reservacionSeleccionada}"
                                         rowKey="#{i.idReservacion}"
                                         rows="10"
                                         >

                                <p:ajax event="rowSelect"   update="eliminarReservacion"/>
                                <p:ajax event="rowUnselect" update="eliminarReservacion"/>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fecha reservación"/>
                                    </f:facet>
                                    <h:outputText value="#{i.fechaReservacion}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fecha recoger Libro"/>
                                    </f:facet>
                                    <h:outputText value="#{i.fechaRecogerLibros}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre Libro"/>
                                    </f:facet>
                                    <h:outputText value="#{i.idLibro == null ? 'Fecha atrasada' : i.idLibro.titulo}"/>
                                </p:column>

                                <f:facet name="footer">
                                    <p:commandButton id="eliminarReservacion"
                                                     icon="ui-icon-trash"
                                                     actionListener="#{prestamoLibroController.eliminarReservacion}"
                                                     update="datalistRes, :tabs:AutorLibroListForm:datalist"
                                                     disabled="#{empty prestamoLibroController.reservacionSeleccionada}"/>
                                </f:facet>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:tab>
                <p:tab title="Mis prestamos">

                    <h:form id="PrestamoListForm">
                        <p:panel header="#{bundle.ListPrestamoTitle}">
                            <p:dataTable id="datalist" value="#{prestamoController.items}" var="item"
                                         selectionMode="single" selection="#{prestamoController.selected}"
                                         rowKey="#{item.idPrestamo}"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         >

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_fechaPrestamo}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fechaPrestamo}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_fechaDevolucion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.fechaDevolucion}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListPrestamoTitle_descDevolucion}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.descDevolucion}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>

                </p:tab>
            </p:tabView>
            <ui:include src="Agregados.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
