<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorCreateDlg" widgetVar="AutorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAutorTitle}">
            <h:form id="AutorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAutorLabel_idAutor}" for="idAutor" />
                        <p:inputText id="idAutor" value="#{autorController.selected.idAutor}" title="#{bundle.CreateAutorTitle_idAutor}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_idAutor}"/>
                        <p:outputLabel value="#{bundle.CreateAutorLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{autorController.selected.nombre}" title="#{bundle.CreateAutorTitle_nombre}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateAutorLabel_apepat}" for="apepat" />
                        <p:inputText id="apepat" value="#{autorController.selected.apepat}" title="#{bundle.CreateAutorTitle_apepat}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_apepat}"/>
                        <p:outputLabel value="#{bundle.CreateAutorLabel_apemat}" for="apemat" />
                        <p:inputText id="apemat" value="#{autorController.selected.apemat}" title="#{bundle.CreateAutorTitle_apemat}" />
                        <p:outputLabel value="#{bundle.CreateAutorLabel_nacionalidad}" for="nacionalidad" />
                        <p:inputText id="nacionalidad" value="#{autorController.selected.nacionalidad}" title="#{bundle.CreateAutorTitle_nacionalidad}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_nacionalidad}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autorController.create}" value="#{bundle.Save}" update="display,:AutorListForm:datalist,:growl" oncomplete="handleSubmit(args,'AutorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AutorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
