<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAutorTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AutorListForm">
                <p:panel header="#{bundle.ListAutorTitle}">
                    <p:dataTable id="datalist" value="#{autorController.items}" var="item"
                                 selectionMode="single" selection="#{autorController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idAutor}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorTitle_idAutor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAutor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorTitle_apepat}"/>
                            </f:facet>
                            <h:outputText value="#{item.apepat}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorTitle_apemat}"/>
                            </f:facet>
                            <h:outputText value="#{item.apemat}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorTitle_nacionalidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.nacionalidad}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{autorController.prepareCreate}" update=":AutorCreateForm" oncomplete="PF('AutorCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AutorViewForm" oncomplete="PF('AutorViewDialog').show()" disabled="#{empty autorController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AutorEditForm" oncomplete="PF('AutorEditDialog').show()" disabled="#{empty autorController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{autorController.destroy}" update=":growl,datalist" disabled="#{empty autorController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
