<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPrestamoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PrestamoListForm">
                <p:panel header="#{bundle.ListPrestamoTitle}">
                    <p:dataTable id="datalist" value="#{prestamoController.items}" var="item"
                                 selectionMode="single" selection="#{prestamoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPrestamo}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_idPrestamo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPrestamo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_fechaPrestamo}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaPrestamo}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_fechaDevolucion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaDevolucion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_descDevolucion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descDevolucion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_idUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUsuario}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{prestamoController.prepareCreate}" update=":PrestamoCreateForm" oncomplete="PF('PrestamoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PrestamoViewForm" oncomplete="PF('PrestamoViewDialog').show()" disabled="#{empty prestamoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PrestamoEditForm" oncomplete="PF('PrestamoEditDialog').show()" disabled="#{empty prestamoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{prestamoController.destroy}" update=":growl,datalist" disabled="#{empty prestamoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
