<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_idUsuario}" for="idUsuario" />
                        <p:inputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" title="#{bundle.CreateUsuarioTitle_idUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_idUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_usuario}" for="usuario" />
                        <p:inputText id="usuario" value="#{usuarioController.selected.usuario}" title="#{bundle.CreateUsuarioTitle_usuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_usuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_contrasenia}" for="contrasenia" />
                        <p:inputText id="contrasenia" value="#{usuarioController.selected.contrasenia}" title="#{bundle.CreateUsuarioTitle_contrasenia}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_contrasenia}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_rol}" for="rol" />
                        <p:inputText id="rol" value="#{usuarioController.selected.rol}" title="#{bundle.CreateUsuarioTitle_rol}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_rol}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_apepat}" for="apepat" />
                        <p:inputText id="apepat" value="#{usuarioController.selected.apepat}" title="#{bundle.CreateUsuarioTitle_apepat}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_apepat}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_apemat}" for="apemat" />
                        <p:inputText id="apemat" value="#{usuarioController.selected.apemat}" title="#{bundle.CreateUsuarioTitle_apemat}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{usuarioController.selected.telefono}" title="#{bundle.CreateUsuarioTitle_telefono}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_calle}" for="calle" />
                        <p:inputText id="calle" value="#{usuarioController.selected.calle}" title="#{bundle.CreateUsuarioTitle_calle}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_numeroExterior}" for="numeroExterior" />
                        <p:inputText id="numeroExterior" value="#{usuarioController.selected.numeroExterior}" title="#{bundle.CreateUsuarioTitle_numeroExterior}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_numeroInterior}" for="numeroInterior" />
                        <p:inputText id="numeroInterior" value="#{usuarioController.selected.numeroInterior}" title="#{bundle.CreateUsuarioTitle_numeroInterior}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_colonia}" for="colonia" />
                        <p:inputText id="colonia" value="#{usuarioController.selected.colonia}" title="#{bundle.CreateUsuarioTitle_colonia}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_codigoPostal}" for="codigoPostal" />
                        <p:inputText id="codigoPostal" value="#{usuarioController.selected.codigoPostal}" title="#{bundle.CreateUsuarioTitle_codigoPostal}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_tipoComprobante}" for="tipoComprobante" />
                        <p:inputText id="tipoComprobante" value="#{usuarioController.selected.tipoComprobante}" title="#{bundle.CreateUsuarioTitle_tipoComprobante}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_tipoComprobante}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_baja}" for="baja" />
                        <p:inputText id="baja" value="#{usuarioController.selected.baja}" title="#{bundle.CreateUsuarioTitle_baja}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_baja}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.CreateUsuarioTitle_correo}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
