<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_idUsuario}" for="idUsuario" />
                        <p:inputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" title="#{bundle.EditUsuarioTitle_idUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_idUsuario}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_usuario}" for="usuario" />
                        <p:inputText id="usuario" value="#{usuarioController.selected.usuario}" title="#{bundle.EditUsuarioTitle_usuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_usuario}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_contrasenia}" for="contrasenia" />
                        <p:inputText id="contrasenia" value="#{usuarioController.selected.contrasenia}" title="#{bundle.EditUsuarioTitle_contrasenia}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_contrasenia}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_rol}" for="rol" />
                        <p:inputText id="rol" value="#{usuarioController.selected.rol}" title="#{bundle.EditUsuarioTitle_rol}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_rol}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.EditUsuarioTitle_nombre}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_apepat}" for="apepat" />
                        <p:inputText id="apepat" value="#{usuarioController.selected.apepat}" title="#{bundle.EditUsuarioTitle_apepat}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_apepat}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_apemat}" for="apemat" />
                        <p:inputText id="apemat" value="#{usuarioController.selected.apemat}" title="#{bundle.EditUsuarioTitle_apemat}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{usuarioController.selected.telefono}" title="#{bundle.EditUsuarioTitle_telefono}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_calle}" for="calle" />
                        <p:inputText id="calle" value="#{usuarioController.selected.calle}" title="#{bundle.EditUsuarioTitle_calle}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_numeroExterior}" for="numeroExterior" />
                        <p:inputText id="numeroExterior" value="#{usuarioController.selected.numeroExterior}" title="#{bundle.EditUsuarioTitle_numeroExterior}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_numeroInterior}" for="numeroInterior" />
                        <p:inputText id="numeroInterior" value="#{usuarioController.selected.numeroInterior}" title="#{bundle.EditUsuarioTitle_numeroInterior}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_colonia}" for="colonia" />
                        <p:inputText id="colonia" value="#{usuarioController.selected.colonia}" title="#{bundle.EditUsuarioTitle_colonia}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_codigoPostal}" for="codigoPostal" />
                        <p:inputText id="codigoPostal" value="#{usuarioController.selected.codigoPostal}" title="#{bundle.EditUsuarioTitle_codigoPostal}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_tipoComprobante}" for="tipoComprobante" />
                        <p:inputText id="tipoComprobante" value="#{usuarioController.selected.tipoComprobante}" title="#{bundle.EditUsuarioTitle_tipoComprobante}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_tipoComprobante}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_baja}" for="baja" />
                        <p:inputText id="baja" value="#{usuarioController.selected.baja}" title="#{bundle.EditUsuarioTitle_baja}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_baja}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.EditUsuarioTitle_correo}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
