<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuarioTitle}">
            <h:form id="UsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuarioLabel_idUsuario}"/>
                        <h:outputText value="#{usuarioController.selected.idUsuario}" title="#{bundle.ViewUsuarioTitle_idUsuario}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_usuario}"/>
                        <h:outputText value="#{usuarioController.selected.usuario}" title="#{bundle.ViewUsuarioTitle_usuario}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_contrasenia}"/>
                        <h:outputText value="#{usuarioController.selected.contrasenia}" title="#{bundle.ViewUsuarioTitle_contrasenia}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_rol}"/>
                        <h:outputText value="#{usuarioController.selected.rol}" title="#{bundle.ViewUsuarioTitle_rol}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_nombre}"/>
                        <h:outputText value="#{usuarioController.selected.nombre}" title="#{bundle.ViewUsuarioTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_apepat}"/>
                        <h:outputText value="#{usuarioController.selected.apepat}" title="#{bundle.ViewUsuarioTitle_apepat}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_apemat}"/>
                        <h:outputText value="#{usuarioController.selected.apemat}" title="#{bundle.ViewUsuarioTitle_apemat}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_telefono}"/>
                        <h:outputText value="#{usuarioController.selected.telefono}" title="#{bundle.ViewUsuarioTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_calle}"/>
                        <h:outputText value="#{usuarioController.selected.calle}" title="#{bundle.ViewUsuarioTitle_calle}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_numeroExterior}"/>
                        <h:outputText value="#{usuarioController.selected.numeroExterior}" title="#{bundle.ViewUsuarioTitle_numeroExterior}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_numeroInterior}"/>
                        <h:outputText value="#{usuarioController.selected.numeroInterior}" title="#{bundle.ViewUsuarioTitle_numeroInterior}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_colonia}"/>
                        <h:outputText value="#{usuarioController.selected.colonia}" title="#{bundle.ViewUsuarioTitle_colonia}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_codigoPostal}"/>
                        <h:outputText value="#{usuarioController.selected.codigoPostal}" title="#{bundle.ViewUsuarioTitle_codigoPostal}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_tipoComprobante}"/>
                        <h:outputText value="#{usuarioController.selected.tipoComprobante}" title="#{bundle.ViewUsuarioTitle_tipoComprobante}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_baja}"/>
                        <h:outputText value="#{usuarioController.selected.baja}" title="#{bundle.ViewUsuarioTitle_baja}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_correo}"/>
                        <h:outputText value="#{usuarioController.selected.correo}" title="#{bundle.ViewUsuarioTitle_correo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
