<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LibroCreateDlg" widgetVar="LibroCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLibroTitle}">
            <h:form id="LibroCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{libroController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLibroLabel_idLibro}" for="idLibro" />
                        <p:inputText id="idLibro" value="#{libroController.selected.idLibro}" title="#{bundle.CreateLibroTitle_idLibro}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_idLibro}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_titulo}" for="titulo" />
                        <p:inputText id="titulo" value="#{libroController.selected.titulo}" title="#{bundle.CreateLibroTitle_titulo}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_titulo}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_isbn}" for="isbn" />
                        <p:inputText id="isbn" value="#{libroController.selected.isbn}" title="#{bundle.CreateLibroTitle_isbn}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_isbn}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_categoria}" for="categoria" />
                        <p:inputText id="categoria" value="#{libroController.selected.categoria}" title="#{bundle.CreateLibroTitle_categoria}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_categoria}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_subcategoria}" for="subcategoria" />
                        <p:inputText id="subcategoria" value="#{libroController.selected.subcategoria}" title="#{bundle.CreateLibroTitle_subcategoria}" />
                        <p:outputLabel value="#{bundle.CreateLibroLabel_resenia}" for="resenia" />
                        <p:inputText id="resenia" value="#{libroController.selected.resenia}" title="#{bundle.CreateLibroTitle_resenia}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_resenia}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_edicion}" for="edicion" />
                        <p:inputText id="edicion" value="#{libroController.selected.edicion}" title="#{bundle.CreateLibroTitle_edicion}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_edicion}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_idioma}" for="idioma" />
                        <p:inputText id="idioma" value="#{libroController.selected.idioma}" title="#{bundle.CreateLibroTitle_idioma}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_idioma}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_cantidadEjemplares}" for="cantidadEjemplares" />
                        <p:inputText id="cantidadEjemplares" value="#{libroController.selected.cantidadEjemplares}" title="#{bundle.CreateLibroTitle_cantidadEjemplares}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_cantidadEjemplares}"/>
                        <p:outputLabel value="#{bundle.CreateLibroLabel_idEditorial}" for="idEditorial" />
                        <p:selectOneMenu id="idEditorial" value="#{libroController.selected.idEditorial}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idEditorial}">
                            <f:selectItems value="#{editorialController.itemsAvailableSelectOne}"
                                           var="idEditorialItem"
                                           itemValue="#{idEditorialItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{libroController.create}" value="#{bundle.Save}" update="display,:LibroListForm:datalist,:growl" oncomplete="handleSubmit(args,'LibroCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LibroCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
