<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LibroEditDlg" widgetVar="LibroEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLibroTitle}">
            <h:form id="LibroEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{libroController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLibroLabel_idLibro}" for="idLibro" />
                        <p:inputText id="idLibro" value="#{libroController.selected.idLibro}" title="#{bundle.EditLibroTitle_idLibro}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idLibro}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_titulo}" for="titulo" />
                        <p:inputText id="titulo" value="#{libroController.selected.titulo}" title="#{bundle.EditLibroTitle_titulo}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_titulo}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_isbn}" for="isbn" />
                        <p:inputText id="isbn" value="#{libroController.selected.isbn}" title="#{bundle.EditLibroTitle_isbn}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_isbn}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_categoria}" for="categoria" />
                        <p:inputText id="categoria" value="#{libroController.selected.categoria}" title="#{bundle.EditLibroTitle_categoria}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_categoria}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_subcategoria}" for="subcategoria" />
                        <p:inputText id="subcategoria" value="#{libroController.selected.subcategoria}" title="#{bundle.EditLibroTitle_subcategoria}" />
                        <p:outputLabel value="#{bundle.EditLibroLabel_resenia}" for="resenia" />
                        <p:inputText id="resenia" value="#{libroController.selected.resenia}" title="#{bundle.EditLibroTitle_resenia}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_resenia}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_edicion}" for="edicion" />
                        <p:inputText id="edicion" value="#{libroController.selected.edicion}" title="#{bundle.EditLibroTitle_edicion}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_edicion}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_idioma}" for="idioma" />
                        <p:inputText id="idioma" value="#{libroController.selected.idioma}" title="#{bundle.EditLibroTitle_idioma}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idioma}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_cantidadEjemplares}" for="cantidadEjemplares" />
                        <p:inputText id="cantidadEjemplares" value="#{libroController.selected.cantidadEjemplares}" title="#{bundle.EditLibroTitle_cantidadEjemplares}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_cantidadEjemplares}"/>
                        <p:outputLabel value="#{bundle.EditLibroLabel_idEditorial}" for="idEditorial" />
                        <p:selectOneMenu id="idEditorial" value="#{libroController.selected.idEditorial}" required="true" requiredMessage="#{bundle.EditLibroRequiredMessage_idEditorial}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{editorialController.itemsAvailableSelectOne}"
                                           var="idEditorialItem"
                                           itemValue="#{idEditorialItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{libroController.update}" value="#{bundle.Save}" update="display,:LibroListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LibroEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LibroEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
