<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibroTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LibroListForm">
                <p:panel header="#{bundle.ListLibroTitle}">
                    <p:dataTable id="datalist" value="#{libroController.items}" var="item"
                                 selectionMode="single" selection="#{libroController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idLibro}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLibro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_isbn}"/>
                            </f:facet>
                            <h:outputText value="#{item.isbn}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_categoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.categoria}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_subcategoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.subcategoria}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_resenia}"/>
                            </f:facet>
                            <h:outputText value="#{item.resenia}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_edicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.edicion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idioma}"/>
                            </f:facet>
                            <h:outputText value="#{item.idioma}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_cantidadEjemplares}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidadEjemplares}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idEditorial}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEditorial}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{libroController.prepareCreate}" update=":LibroCreateForm" oncomplete="PF('LibroCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":LibroViewForm" oncomplete="PF('LibroViewDialog').show()" disabled="#{empty libroController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":LibroEditForm" oncomplete="PF('LibroEditDialog').show()" disabled="#{empty libroController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{libroController.destroy}" update=":growl,datalist" disabled="#{empty libroController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
