<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LibroViewDlg" widgetVar="LibroViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLibroTitle}">
            <h:form id="LibroViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{libroController.selected != null}">
                        <h:outputText value="#{bundle.ViewLibroLabel_idLibro}"/>
                        <h:outputText value="#{libroController.selected.idLibro}" title="#{bundle.ViewLibroTitle_idLibro}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_titulo}"/>
                        <h:outputText value="#{libroController.selected.titulo}" title="#{bundle.ViewLibroTitle_titulo}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_isbn}"/>
                        <h:outputText value="#{libroController.selected.isbn}" title="#{bundle.ViewLibroTitle_isbn}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_categoria}"/>
                        <h:outputText value="#{libroController.selected.categoria}" title="#{bundle.ViewLibroTitle_categoria}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_subcategoria}"/>
                        <h:outputText value="#{libroController.selected.subcategoria}" title="#{bundle.ViewLibroTitle_subcategoria}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_resenia}"/>
                        <h:outputText value="#{libroController.selected.resenia}" title="#{bundle.ViewLibroTitle_resenia}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_edicion}"/>
                        <h:outputText value="#{libroController.selected.edicion}" title="#{bundle.ViewLibroTitle_edicion}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_idioma}"/>
                        <h:outputText value="#{libroController.selected.idioma}" title="#{bundle.ViewLibroTitle_idioma}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_cantidadEjemplares}"/>
                        <h:outputText value="#{libroController.selected.cantidadEjemplares}" title="#{bundle.ViewLibroTitle_cantidadEjemplares}"/>
                        <h:outputText value="#{bundle.ViewLibroLabel_idEditorial}"/>
                        <h:outputText value="#{libroController.selected.idEditorial}" title="#{bundle.ViewLibroTitle_idEditorial}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LibroViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
