<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservacionCreateDlg" widgetVar="ReservacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateReservacionTitle}">
            <h:form id="ReservacionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reservacionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateReservacionLabel_idReservacion}" for="idReservacion" />
                        <p:inputText id="idReservacion" value="#{reservacionController.selected.idReservacion}" title="#{bundle.CreateReservacionTitle_idReservacion}" required="true" requiredMessage="#{bundle.CreateReservacionRequiredMessage_idReservacion}"/>
                        <p:outputLabel value="#{bundle.CreateReservacionLabel_fechaReservacion}" for="fechaReservacion" />
                        <p:calendar id="fechaReservacion" pattern="MM/dd/yyyy" value="#{reservacionController.selected.fechaReservacion}" title="#{bundle.EditReservacionTitle_fechaReservacion}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_fechaReservacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateReservacionLabel_fechaRecogerLibros}" for="fechaRecogerLibros" />
                        <p:calendar id="fechaRecogerLibros" pattern="MM/dd/yyyy" value="#{reservacionController.selected.fechaRecogerLibros}" title="#{bundle.EditReservacionTitle_fechaRecogerLibros}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_fechaRecogerLibros}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateReservacionLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{reservacionController.selected.idUsuario}" required="true" requiredMessage="#{bundle.EditReservacionRequiredMessage_idUsuario}">
                            <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reservacionController.create}" value="#{bundle.Save}" update="display,:ReservacionListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReservacionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ReservacionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
