<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservacionViewDlg" widgetVar="ReservacionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewReservacionTitle}">
            <h:form id="ReservacionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reservacionController.selected != null}">
                        <h:outputText value="#{bundle.ViewReservacionLabel_idReservacion}"/>
                        <h:outputText value="#{reservacionController.selected.idReservacion}" title="#{bundle.ViewReservacionTitle_idReservacion}"/>
                        <h:outputText value="#{bundle.ViewReservacionLabel_fechaReservacion}"/>
                        <h:outputText value="#{reservacionController.selected.fechaReservacion}" title="#{bundle.ViewReservacionTitle_fechaReservacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReservacionLabel_fechaRecogerLibros}"/>
                        <h:outputText value="#{reservacionController.selected.fechaRecogerLibros}" title="#{bundle.ViewReservacionTitle_fechaRecogerLibros}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReservacionLabel_idUsuario}"/>
                        <h:outputText value="#{reservacionController.selected.idUsuario}" title="#{bundle.ViewReservacionTitle_idUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ReservacionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
