<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layout/template.xhtml">
        <ui:define name="body">
            <h:panelGrid columns="2" style="width: 100%">
                <h:panelGrid columns="1" cellpadding="5">

                    <center>  <img src="resources/img/Logo.png" WIDTH="400" HEIGHT="280" VSPACE="20" HSPACE="50"/></center>
                    <center><h2 float="rigth">  La lectura es para la mente, lo que el ejercisio al cuerpo</h2></center>

                    Acerca de nosotros:
                    Somos una blibioteca de prestigio con mas de 40 años, 
                    contamos con con una gran variedad de titulos, con 
                    direfentes tematicas asi como novelas, cuentos, libros
                    de ciencia, etc. Contamos con libros para todas las 
                    edades, ven y enrriquece tu mente, contamos con un
                    sistema de prestamos el cual podras realizar desde 
                    esta pagina.
                    Bienvenido!!

                </h:panelGrid>

                <h:panelGrid columns="1" cellpadding="5">

                    <div class="login">

                        <h2 class="login-header">Login</h2>

                        <h:form class="login-container">

                            <h:panelGrid columns="1" style="width: 100%">
                                <h:panelGrid columns="2" style="width: 100%">
                                    <h:panelGrid columns="1" cellpadding="5">
                                        <p:outputLabel value="Ingres su usuario:     "/>
                                    </h:panelGrid>
                                    <h:panelGrid columns="1" cellpadding="5">
                                        <p:inputText id="usr" value="#{loginBean.userName}"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGrid columns="2" style="width: 100%">
                                    <h:panelGrid columns="1" cellpadding="5">
                                        <p:outputLabel value="Ingrese su contaseña:"/></h:panelGrid>
                                    <h:panelGrid columns="1" cellpadding="5">
                                    <p:password id="pwd" value="#{loginBean.userPwd}"/></h:panelGrid>
                                    
                                   
                               
                                    <p:commandButton class="button" value="Entrar"  action="#{loginBean.login()}" />
                               
                                </h:panelGrid>

  <p:captcha label="Captcha"  theme="blue"/>

                                <br/>
                            </h:panelGrid>
                             
                            <h:link outcome="/Usuario/Create" value="Registrarse"/><br/>
                            ¿Ha olvidado su usuario o contraseña?<br/>
                            Comuniquese con nosostro a :<br/>
                            557799902, 888999200          
                        </h:form>
                    </div>
                </h:panelGrid> 
            </h:panelGrid>


        </ui:define>
    </ui:composition>
</html>
